# corec_topic data
corex_topic-master/data/*

# AIR data
AIR/data/*
AIR/data1/*
AIR/AIR/data/*
AIR/AIR/data1/*
AIR/AIR/data2/*
AIR/AIR/data3/*

# electronic data
electronic/data/*

# earbud data
earbud_reviews/data/*

# darkweb data
darkweb/data/*

Scrape/chromedriver.exe
Scrape/chrome-win64.zip
Scrape/chrome-win64/*
Scrape/PDF/*
Scrape/chrome-win64/*
Scrape/scrape_data.csv
Scrape/scrape_data_old.csv
Scrape/credentials.txt